In [1]:
"""
Cleans ACS csv and matches column names with column names.
"""

import pandas as pd
# read in acs_raw
acs_clean = pd.read_csv('../../../data/CLEAN_King_County_ACS_2019_tract.csv')

In [2]:
acs_clean

,geoid,census_tract,median_age_total,estimate_total,estimate_total_race,estimate_total_white,estimate_total_africanamerican,estimate_total_nativeamerican_or_alaskan_native,estimate_total_asian,estimate_total_nativehawaiian_and_pacific_islander,...,for_seasonal_recreational_or_occasional_use,for_migrant_workers,other_vacant,median_year_structure_built,aggregate_rent_asked,median_contract_rent,estimate_median_household_income,median_monthly_housing_costs,total.5,living_in_household_with_supplemental_security_income_ssi_cash_public_assistance_income_or_food
0,53033020700,207.00,39.4,4064,4064,2555,434,10,671,20,...,0,0,0,1974.0,NaN,1415.0,113011.0,1663.0,762,156
1,53033020800,208.00,48.9,4279,4279,3618,64,19,423,0,...,0,0,39,1963.0,NaN,1165.0,139022.0,1947.0,868,55
2,53033020900,209.00,43.6,3420,3420,2378,342,5,439,0,...,37,0,51,1973.0,NaN,1139.0,112721.0,1519.0,540,52
3,53033021000,210.00,41.4,6024,6024,3587,455,87,1254,67,...,0,0,154,1962.0,NaN,1510.0,111500.0,1841.0,1081,55
4,53033022001,220.01,43.8,5729,5729,4107,35,14,473,56,...,0,0,81,1989.0,NaN,1371.0,165391.0,1878.0,1015,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,53033020100,201.00,52.0,3319,3319,2681,132,51,280,0,...,11,0,0,1965.0,NaN,1205.0,118633.0,1962.0,525,8
394,53033029204,292.04,27.7,7704,7704,3564,915,40,1336,0,...,0,0,0,1987.0,NaN,1305.0,126042.0,1566.0,1868,632
395,53033029305,293.05,40.4,4177,4177,1900,469,0,1338,0,...,5,0,31,1983.0,NaN,1131.0,109524.0,1804.0,859,269
396,53033030003,300.03,37.5,6524,6524,3483,942,13,422,53,...,14,0,41,1982.0,NaN,1273.0,84069.0,1444.0,1505,128
397,53033030202,302.02,34.5,7240,7240,3871,1180,15,939,12,...,0,0,22,1975.0,NaN,1233.0,70086.0,1306.0,1640,549

In [3]:
acs_clean['pct_black'] = acs_clean['estimate_total_africanamerican'] / acs_clean['estimate_total']
acs_clean['pct_white'] = acs_clean['estimate_total_white'] / acs_clean['estimate_total']
acs_clean['num_people_income_below_twohundredpct'] = acs_clean['less_than_10000'] + acs_clean['10000_to_14999'] + acs_clean['15000_to_19999'] + acs_clean['20000_to_24999']
acs_clean['pct_people_income_below_twohundredpct'] = acs_clean['num_people_income_below_twohundredpct'] / acs_clean['estimate_total']
ret = acs_clean[['census_tract', 'median_age_total', 'estimate_total', 'pct_black', 'pct_white', 'num_people_income_below_twohundredpct', 'pct_people_income_below_twohundredpct']]
ret

,census_tract,median_age_total,estimate_total,pct_black,pct_white,num_people_income_below_twohundredpct,pct_people_income_below_twohundredpct
0,207.00,39.4,4064,0.106791,0.628691,270,0.066437
1,208.00,48.9,4279,0.014957,0.845525,201,0.046974
2,209.00,43.6,3420,0.100000,0.695322,226,0.066082
3,210.00,41.4,6024,0.075531,0.595452,165,0.027390
4,220.01,43.8,5729,0.006109,0.716879,163,0.028452
...,...,...,...,...,...,...,...
393,201.00,52.0,3319,0.039771,0.807773,39,0.011751
394,292.04,27.7,7704,0.118769,0.462617,247,0.032061
395,293.05,40.4,4177,0.112282,0.454872,78,0.018674
396,300.03,37.5,6524,0.144390,0.533875,227,0.034795
397,302.02,34.5,7240,0.162983,0.534669,394,0.054420

In [4]:
ret.to_csv('../../../data/TOHEATMAP_King_County_ACS_2019_tract.csv')

1. num_people: `estimate_total`

2. pct_black: `estimate_total_africanamerican / estimate_total`

3. pct_white: `estimate_total_white / estimate_total`

4. num_people_income_below_twohundredpct: `less_than_10000 + 10000_to_14999 + 15000_to_19999 + 20000_to_24999`

5. pct_people_income_below_twohundredpct: `(less_than_10000 + 10000_to_14999 + 15000_to_19999 + 20000_to_24999) / estimate_total`

6. `gini_index`

7. `median_age_total`